target/classes/vmtransactiondemo.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:scripting="http://www.mulesoft.org/schema/mule/scripting" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/scripting http://www.mulesoft.org/schema/mule/scripting/current/mule-scripting.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <vm:connector name="VM" validateConnections="true" doc:name="VM"/>
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <flow name="vmtransactiondemoFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/Testpath" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="testTransaction" connector-ref="VM" doc:name="VM">
            <vm:transaction action="ALWAYS_BEGIN"/>
        </vm:outbound-endpoint>
        <vm:outbound-endpoint exchange-pattern="one-way" path="testTransactionSecond" connector-ref="VM" doc:name="VM">
            <vm:transaction action="ALWAYS_JOIN"/>
        </vm:outbound-endpoint>
        <scripting:transformer doc:name="Groovy">
            <scripting:script engine="Groovy"><![CDATA[if(true){
 throw new RuntimeException("Sadik ali in exception")

}]]></scripting:script>
        </scripting:transformer>
        <rollback-exception-strategy maxRedeliveryAttempts="0" doc:name="Rollback Exception Strategy">
            <set-payload value="This is rollback Exception Section !" doc:name="Set Payload"/>
        </rollback-exception-strategy>
    </flow>
    <flow name="vmtransactiondemoFlow1" initialState="stopped">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/sendVm" allowedMethods="POST" doc:name="HTTP"/>
        <object-to-byte-array-transformer doc:name="Object to Byte Array"/>
        <object-to-string-transformer doc:name="Object to String"/>
        <set-payload value="This is just test : #[payload]" doc:name="Set Payload"/>
        <vm:outbound-endpoint exchange-pattern="one-way" path="testTransaction" connector-ref="VM" doc:name="VM"/>
    </flow>
    
    
</mule>
